:root {
  --elemento__cartao-height: 300px;
  --elemento__cartao-width: calc(var(--elemento__cartao-height) / 1.5);
}
body {
  width: 100;
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212123;
}
.elemento__cartao {
  width: var(--elemento__cartao-width);
  height: var(--elemento__cartao-height);
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50px;
  width: 190px;
  
}
.elemento__foto__cobertura {
  width: 200px;
}

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	
	
}

/*TITULO PRINCIPAL*/
h1.tituloPrincipal{
	 font-size: 95px; 
	 text-align:center;
	 color: white; 
   margin-bottom:5px; 
   margin-top: -90px;
 }


 /*IMAGENES DEL TITULO*/

body{
	  margin:0;
	  padding:0;
	  display:flex;
	  min-height: 100vh;
	  flex-wrap:wrap;
  }
/*Cabecera*/
header {
	width: 100%;
}
/*Listas*/
ul, ol {
	list-style:none;
}
/*Primer contenedor */
.nav {
	background-color: #ab2a3e;
	display: flex;/*Le establecemos un ancho*/
	margin:0; /*Centramos automaticamente*/
	flex-flow: row wrap;
	justify-content: space-between;
	
}

.nav a {
  font-size: 30px;
  text-decoration: none;
  padding: 30px;
  color: white;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
}



/*FORMAS DE LISTAS Y ENLACES*/
.nav li a {
	background-color:#ab2a3e;
	color:#fff;
	text-decoration:none;
	padding:10px 10px;
	display:block;
}
.nav li a:hover {
	background-color:#1565C0;
}
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
.nav li:hover > ul {
	display:block;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}



